<%- include('Partials/header') -%>
<h1>HOME</h1>
<p><%= HomeContent %></p>
<div class="container">
  <% Posts.forEach(function(p){%>
  <h1><%= p.title%></h1>
  <br>
  <%= p.post.slice(0,100)+" ... "%>
  <a href="/posts/<%= p._id%>">Read More</a>
  <br>
  <% }) %>
<%- include('Partials/footer') -%>
